# Frameworks Web y Relacionados
aiohttp
alembic
amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.3
dj-database-url==2.1.0
Django==5.2.3
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-otp==1.6.1
django-redis==6.0.0
django-tailwind==3.8.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
drf-yasg==1.21.10
Flask==3.0.0
Flask-SocketIO==5.3.6
gunicorn==21.2.0
kombu==5.5.4
python-engineio==4.12.1
python-socketio==5.11.0
redis==6.2.0
SQLAlchemy==2.0.28
vine==5.1.0
whitenoise==6.6.0

# Ciencia de Datos, Computación Numérica y Gráficos
altair
astropy
bokeh
Bottleneck
dask
dask-expr
datashader
gensim
h5py
holoviews
hvplot
imbalanced-learn
matplotlib==3.9.2
networkx
nltk
numba
numexpr
numpy
pandas
panel
plotly
pyarrow
PyWavelets
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
tables
xarray
xlwings

# Bases de Datos y Conectores
psycopg2-binary==2.9.9
pyodbc

# Utilidades, APIs y Clientes HTTP
aiobotocore
arrow
bcrypt==4.1.2
beautifulsoup4
botocore
cryptography==42.0.8
Faker==37.4.0
GitPython
httpx
Jinja2
lxml==5.2.1
openpyxl
Pillow==10.2.0
protobuf==4.25.3
psutil
pydantic
pydantic-settings
PyJWT
python-decouple==3.8
python-dotenv==1.0.1
pytz
PyYAML
qrcode==8.2
requests==2.31.0
s3fs
Scrapy
sendgrid==6.12.4
sentry-sdk
urllib3==2.1.0
xlsxwriter==3.2.5
yt-dlp==2025.6.30

# Herramientas de Testing (Opcional, a menudo se gestionan por separado)
factory-boy==3.3.0

# Automatización de GUI (si es parte de tu app)
PyAutoGUI==0.9.54
pywhatkit==5.4