Django
psycopg2-binary
pyjwt
redis
django-redis
requests
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-filter
drf-spectacular
celery
Pillow
reportlab
python-decouple
django-extensions
factory-boy
faker
django-debug-toolbar
whitenoise
gunicorn